.App {
  min-height: 100vh;
  background-color: #fff;
}

.tag {
  font-family: 'Bebas Neue';
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  color: #dc3545;
  font-size: 8rem;
  letter-spacing: 1rem;
  text-shadow: 0 0.2rem 0.2rem #555;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/D0CtnEt.jpg");
  height: 11rem;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin-bottom: 2rem;
  margin-top: -.7rem;
  background-attachment: fixed;
}

@media only screen and (max-width: 789px) {
  .tag {
    text-align: center;
  }
  
  .search-form {
    background-image: url("https://i.imgur.com/D0CtnEt.jpg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 400px) {
  .tag {
    text-align: center;
  }
  
  .search-form {
    background-image: url("https://i.imgur.com/D0CtnEt.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  background:#fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 3px rgb(71, 71, 71);
}

.search-form button {
  padding: 10px 20px;
  border: none;
  background: #dc3545;
  color: #fff;
  border-top-right-radius: 5px;
  box-shadow: 1px 1px 1px rgb(71, 71, 71);
  border-bottom-right-radius: 5px;
}

.search-form button:hover {
  background-color: #fff;
  box-shadow: 0px 1px 5px rgb(71, 71, 71);
  color: #dc3545;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #fff;
  align-items: center;
  min-width: 60%;

  text-align: center;
}

.recipe h2 {
  background-color: #dc3545;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  box-shadow: 0px 1px 10px rgb(71, 71, 71);
  width: 70%;
}

.btn-holder button {
  background-color: #dc3545;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.5rem;
  width: 100px;
  display: inline-block;
  margin-right: .5rem;
  margin-left: .5rem;
  border: none;
  box-shadow: 0px 1px 10px rgb(71, 71, 71);
}

.btn-holder button:hover {
  background-color: #fff;
  color: #dc3545;
}

.recipe img {
  border-radius: 100%;

  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1.3rem;
  max-width: 100%;
  height: auto;
  padding: 1rem;

}

.ingredient-list {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 80%;
  max-width: 80%;
  list-style-position: inside;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.ingredient-list:last-child {
  margin-bottom: 25px;
}

.info-list {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 80%;
  max-width: 80%;
  list-style-position: inside;
  text-align: center;
  justify-content: center;
  margin-bottom: 25px;
}

.ingredient-text {
  font-size: 1rem;
  color: #888;
  list-style-type: none;
}

.ingredient-weight {
  color: #dc3545;
  font-size: .8rem;
  list-style-type: none;
}
